/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* propiedades del contenedor */
.contenedor{
    height: 500px;
    background-color: tomato;
    margin: 30px;

    /* propiedad base de grid */

    display: grid;

/* propiedad para las filas */

grid-template-rows: 30% 70%;

/* propiedad de las columnas */

grid-template-columns: repeat(4, 1fr) ;


/* gap */

gap: 10px 30px;

/* gap para rows */

/* row-gap: 10px; */

/* gap para columns */

/* column-gap: 30px; */

}

/* propiedades de los items */

.contenedor .items {
    border: 2px solid black;
}



/* estilso ejemplo 2 */

.ejemplo{
    height: 500px;
    padding: 50px;
    background-color: tomato;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2 , 1fr);
    /* alineacion desde el contendor */
    justify-items: center;
    align-items: center;
}

/* propiedades de los items */

.ejemplo .div-uno{
    /* alineacion desde el item */

    justify-self: start;
    align-self: end;
}

/* ejemplo3 */



/* estilos de container */

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 2fr) 1.5fr ;
    grid-template-rows: 10% 30% 30% 20% 10% ;

    /* estructura por areas */
    grid-template-areas:
     "header header header header" 
     "main main main aside"
     "main main main aside"
     "section section section section"
     "footer footer footer footer";
}


/* estilos de los items */

header{
    background-color: orangered;
    grid-area: header;
}
header nav ul{
    list-style: none;
display: flex;
justify-content: center;
gap: 30px;

}
main{
    background-color: orange;
    grid-area: main;
}

section{
    background-color: tomato;
    grid-area: section;

}

aside{
    background-color: red;
    grid-area: aside;
}
footer{
    background-color: rgb(118, 0, 0);
     grid-area: footer ;
}